.login {
  width: 30%;
  margin: auto;
  text-align: center;
}

.login h1 {
  font-weight: var(--font-semiBold);
  font-size: var(--text-large);
}

.login strong {
  display: block;
  font-weight: var(--font-bold);
}

.login input {
  display: block;
  width: 100%;
  margin: 1em auto;
  padding: 0.7em 1em;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background);
}

.login button {
  width: 100%;
}

#notice {
  margin: 2em auto;
}
